.nav-bar{
    width: 100%;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.nav-bar .nav-title{
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.nav-bar .nav-links{
    display: flex;
    align-items: center;
}
.nav-bar .nav-links .nav-item a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}